
.return {
    margin: 2rem 0 0 2rem;
}

.insertar {
    margin-top: 1rem;
}

.dashboard-1{
    margin-top: 3rem;
    margin-left: 400px;
}

h1{
    font-family: 'DM Serif Display', serif;
    text-align: center;
    font-size: 72px;
    color: #D9AA52;
    margin: 0;
}

.return a{
    color: black;
}

/*  ----------------------  INDEX CSS  ------------------------------------ */

.menu-toggle {
    position: fixed;
    background: #F2F2F2;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
	top: 0;
	left: 0;
	bottom: 0;
    /*filter: blur(2px);*/
    z-index: 1;
    padding: 1rem 2rem;
    margin: 0;
}

.menu-toggle .contenido{
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
}

.menu-toggle .contenido .options .list{
    display: flex;
    flex-direction: column;
    list-style: none;
    text-align: center;
    padding: 0;
}

.menu-toggle .contenido .options .list li{
    display: flex;
    margin-bottom: 1rem;
    padding: 2rem;
}

.menu-toggle .contenido .options .list li a{
    text-decoration: none;
    font-family: Calisto MT;
    color: black;
    padding-left: 2.5rem;
}

.dashboard-1 .content-usr .options .list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style: none;
    text-align: center;
    padding: 0;
}

.dashboard-1 .content-usr .options .list li{
    display: flex;
    padding: 0.5rem;
}

.dashboard-1 .content-usr .list{
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style: none;
    text-align: center;
    padding: 1rem;
}

.dashboard-1 .content-usr .options .list li{
    display: flex;
    padding: 0.5rem;
}

.dashboard-1 .content-usr .list .btn{
    display: flex;
    padding: 1rem;
    margin: 1rem;
    background: #BFB1A4;
    border-radius: 30px;
}

.dashboard-1 .content-usr .list .btn:hover{
    transition: 0.5s;
    background-color: #73675C;
}

.dashboard-1 .content-usr .list .btn a{
    text-decoration: none;
    color: black;
    font-family: Calisto MT;
}

.dashboard-1 .content-usr .list .btn a:hover{
    transition: 0.5s;
    color: #F2F2F2;
}

.dashboard-1 .section_tabla {
    display: flex;
    justify-content: center;
}

.dashboard-1 .section_tabla .fondo_tabla {
    padding: 1rem;
    text-align: center;
    background: #CCC2F2;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
}

.dashboard-1 .section_tabla .fondo_tabla .tabla{
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    background-color: #F2F2F2;
    padding: 2rem;
    font-family: Calisto MT;
    font-size: 18px;
}

.dashboard-1  .fondo_tabla .tabla table{
    border-collapse: collapse;
    width: 10px;
}

.dashboard-1  .fondo_tabla .tabla table th{
    color: #D9AA52;
    padding: 10px;
}

.dashboard-1  .fondo_tabla .tabla table td{
    padding: 10px;
}


/*  ----------------------  FORMS  ------------------------------------ */


.insertar .blocks {
    text-align: center;
    margin: 1.5rem;
    font-family: Calisto MT;
    font-size: 24px;
}

.blocks input{
    border-radius: 30px;
    color: #BFB1A4;
    padding: 12px 12px;
    border: 2px solid #BFB1A4;
    font-size: 14px;
    font-family: Calisto MT;
    margin-left: 0.5rem;
    width: 20%;
}

.blocks #cantidad{
    border-radius: 30px;
    color: #BFB1A4;
    padding: 12px 12px;
    border: 2px solid #BFB1A4;
    font-size: 14px;
    font-family: Calisto MT;
    margin-left: 0.5rem;
    width: 10%;
}

.blocks select{
    width: 20%;
    background-color: #73675C;
    font-family: Calisto MT;
    color: #F2F2F2;
    padding: 12px 12px;
    border-radius: 30px;
}

.blocks .principal{
    width: 10%;
    background-color: #BFB1A4;
    font-family: Calisto MT;
    color: #F2F2F2;
    padding: 12px 12px;
    border-radius: 30px;
}

.blocks .principal .title{
    text-decoration: none;
    color: #F2F2F2;
}

.blocks .principal:hover{
    transition: 0.5s;
    background-color: #73675C;
}

.insertar .section_tabla {
    display: flex;
    justify-content: center;
}

.insertar .fondo_tabla{
    margin: 4rem;
    padding: 2rem;
    text-align: center;
    background: #CCC2F2;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
}

.insertar .fondo_tabla .tabla{
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    background-color: #F2F2F2;
    padding: 4rem;
    font-family: Calisto MT;
    font-size: 18px;
}

.insertar .fondo_tabla .tabla table{
    border-collapse: collapse;
    width: 10px;
}

.insertar .fondo_tabla .tabla table th{
    color: #D9AA52;
    padding: 10px;
}

.insertar .fondo_tabla .tabla table td{
    padding: 10px;
}
